@import "../../assets/scss/colorVariables";

.stars {
    position: relative;
    min-width: 200px;
    display: inline-flex;

    .star {
        position: absolute;
        display: inline-flex;
        mask: url(../../assets/icons/ic_star.svg) no-repeat center left;
        &:not(.placeholder) {
            //kalo gaada class yg bernama placeholder
            background-color: $yellow;
            z-index: 2;

        }
        &.placeholder {
            background-color: $gray-400;
            z-index: 1;

        }
    }
}